<div id="order">
  <%= link_to t('back_to_store'), products_path %> 
  <br/>  <br/>

  <h1><%= h(@reason) %></h1>
  <p>If you feel that this is an error please contact us.</p>

  <br/>
  <%= link_to t('back_to_store'), products_path %>
</div>